{% extends "base.html" %}

{% block title %}
    Birika -- Karibu
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Welcome</h1>
        <p>Birika is a simple social bookmarking site. Or actually, its a demo for the <a href="https://www.pluralsight.com/courses/flask-micro-framework-introduction">PluralSight</a> course titled <i>Flask Fundamentals</i></p>
    </header>
    <section>
        <h2>Recently Added</h2>
        {% if new_bookmarks %}
            <ul>
            {% for bm in new_bookmarks %}
                <li>{{ bm.user }} added <a href="{{ bm.url }}">{{ bm.description }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            No bookmarks yet.
        {% endif %}
    </section>

    <section>
        <h2>article section 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>

</article>
{% endblock %}
